/*
white chocolate - rgba(235, 229, 220)
morning blue - rgba(145,156,157)
shadow - rgba(134, 131, 101)
raising black - rgba(36, 34, 30)
*/
@font-face{
    font-family: 'TTAlientz Serif';
    src: local('TTAlientz Serif'), url(./source/fonts/alien/TTAlientz-Serif.ttf);  
}
@font-face{
    font-family: 'TTAlientz Variable';
    src: local('TTAlientz Variable'), url(./source//fonts/alien/TTAlientz-Variable.ttf);  
}
@font-face{
    font-family: 'Aretha Bridge';
    src: local('Aretha Bridge'), url(/source/fonts/aretha_bridge/Aretha-Bridge.ttf);
    
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
    scroll-behavior: smooth;
    
}
body {
    font-family: 'TTAlientz Variable', serif;
    /*background: linear-gradient(0deg, rgba(246,157,192,0.5) 0%, rgba(176,190,238,0.5) 100%);*/
    background: rgba(238,238,236,1);   
    color:rgba(36, 34, 30);
    background-image: url(source/8.jpg);
    /*background-image: url(source/5.jpg);*/
}
input, button{font-family: 'TTAlientz Variable', serif;}
header,
nav,
section,
.content-container,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* --- HEADER --- */
header {
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 0.3em 10%;
    flex-wrap: wrap;
    background: rgba(238,238,236,1);
    min-height: 4em;
    background: rgba(255,255,255,0.4);
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.2 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid rgba( 255, 255, 255, 0.2 );
	z-index: 500;
}


header #logo-ref{
    text-decoration: none;
    color: rgba(36, 34, 30);
    font-family: 'TTAlientz Variable';
    font-weight:bold;
    font-size: 20pt;
    text-align: center;
    padding: 0 1em;
	transition: 0.3s;
}
#logo-ref:hover{
	transform: scale(1.1);
}
header form{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fa-solid{
    position: absolute;
    color: rgba(36, 34, 30);
}

nav {
  justify-content: space-between;
  padding: 0 1em;
    

}
nav a {
  text-decoration: none;
  color: rgba(36, 34, 30);
  padding: 0.2em 2em;
  border-radius: 20px;
  transition: 0.5s;
flex-wrap: nowrap;

}
nav a:hover {
    color:rgba(145,156,157);
}

nav .login{ 
    text-decoration-line: underline;
}


/* --- HEADER END --- */

/* --- SCROLLBAR --- */

body::-webkit-scrollbar {
  width: 10px;               /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  opacity: 1;        /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background: rgba(145,156,157);
  border-radius: 5px;
}

/* --- SCROLLBAR END--- */

.search{
    border: none;
    outline: none;
    width: 350px;
    min-width: 150px;
    height: 30px;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: 'TTAlientz Variable', serif;
}

section {
  width: 80%;
  height: 100vh;
    margin-left: 10%;
}



#home h1{
    font-weight: normal;
	font-size: 30pt;
}
h2, h3{
	font-weight: normal;
}

#home{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

#home .img-box{
    height: 350px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 1;
    background: #fff;
    border-radius: 8px;
    margin: 3em 0;
    background: rgba(255,255,255,0.4);
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.2 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid rgba( 255, 255, 255, 0.2 );
}

.img-box img{
    width: 100%;
}

#home .cards{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1em;	
}

#home .card{
    height: 250px;
    background: #fff;
    background: rgba(255,255,255,0.4);
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.2 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 8px;
    border: 1px solid rgba( 255, 255, 255, 0.2 );
    padding: 1em;
	transition: 0.3s;
}

#home .card:hover{
	transform: translateY(-0.5em);
	background: rgba(255,255,255,0.8);
}

#home .card .img-box-l{
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#home .img-box-l img{
    height: 100%;
    width: auto;
}

#home .popular{
    font-size: 2em;
    color: rgba(36, 34, 30);
}

/*библиотека*/


.lib a, .slider a{
    padding: 0.2em 2em;
    background: rgba(145,156,157, 0.5);
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.3s;
	cursor: pointer;
}

.lib a:hover, .slider a:hover{
    background: rgba(145,156,157, 1);
}

.lib .card-holder{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.lib .card{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    background: rgba(255,255,255,0.4);
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.2 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 8px;
    border: 1px solid rgba( 255, 255, 255, 0.2 );
    transition: 0.5s;
}

.lib .card:hover{
    background: rgba(255,255,255, 1);
}

.lib .img-box{
    min-width: 110px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.lib img{
    height: 100%;
    width: auto;
}

.lib .text{
    width: auto;
    height: 100%;
    color: rgba(36, 34, 30); 
    margin: 0 2em;
}


.lib .dis{
    font-size: 10pt;
    margin: 1em 0;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.lib{
    position: absolute;
    top: 10em;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.lib-block {
    position: relative;
    display: grid;
    width: 80%;
    margin-left: 10%;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100px 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.head { 
    grid-area: 1 / 1 / 2 / 6;
    padding: 1em;
}

.books { 
    grid-area: 2 / 1 / 3 / 2;
    padding: 1em;
}

.filter { 
    grid-area: 2 / 2 / 3 / 3;
    padding: 1em;
}

.filter-box{
    width: 100%;
    height: 3em;
    margin: 1em 0;
    padding: 1em;
    background: rgba(255,255,255,0.4);
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.2 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 8px;
    border: 1px solid rgba( 255, 255, 255, 0.2 );
    transition: 0.3s;
}

.lib .filter-box:hover{
    background: rgba(255,255,255, 1);
}


.log{
    width: 500px;
    padding: 3em 1em;
    background: rgba(255,255,255,0.4);
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.2 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 8px;
    border: 1px solid rgba( 255, 255, 255, 0.2 );
    transition: 0.3s;
}

.log h1{
    text-align: center;
    padding-bottom: 1em;
}

.log form{
    padding: 0 2em;
    box-sizing: border-box;
}

.log .txt_field{
    position: relative;
    margin: 1em 0;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 2em;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    outline: none;
}

.txt_field label{
    color: rgba(36, 34, 30, 0.8);
}

.pass{
    margin: 1em 0;
    color: rgba(36, 34, 30, 0.8);
    cursor: pointer;
}

.pass:hover{
    text-decoration: underline;
}

.sub{
    width: 100%;
    height: 2em;
    font-size: 1em;
    background: rgba(145,156,157, 0.5);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.sub:hover{
    background: rgba(145,156,157, 1);
}

.signup_link{
    text-align: center;
    margin-top: 2em;
}
.signup_link a{
    color: rgba(145,156,157);
}
.signup_link a:hover{
    color: rgba(36, 34, 30);
}
/*
#home .card{
    height: 100%;
    width: 80%;
    overflow: hidden;
}

#home .slider{
    height: 80%;
    width: 500%;
    display: flex;
}

#home .text{
    display: none;
    width: 50%;
    margin-left: 10%;
}

#home .slide{
    display: contents;
    transition: 2s;
}

#home input{
    
}


#home .card{
    width: 100%;
    background: rgba(134, 131, 101);
    height: 60%;
    margin-top: 0;
}

.smth{
    width: 3em;
    height: 3em;
    background: rgba(145, 156, 157);
}

.s2{
    background: rgba(134, 131, 101);
}
*/

/* Кнопка выпадающего списка */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Кнопка выпадающего меню при наведении и фокусировке */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}


/* Контейнер <div> - необходим для размещения выпадающего содержимого */

/* Выпадающее содержимое (скрыто по умолчанию) */

.filter button{
    font-size: 1em;
    text-align: start;
}
.filter-content{
    width: 100%;
    margin: -1em 0;
    margin-bottom: 1em;
    background: rgba(255,255,255,0.4);
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.2 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 8px;
    border: 1px solid rgba( 255, 255, 255, 0.2 );
    transition: 0.3s;
    z-index: 1;
    display: none;
}


/* Ссылки внутри выпадающего списка */
.filter-content a {
  padding: 1em;
width: 100%;
  text-decoration: none;
  display: block;
border: none;
    background-color:transparent;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.filter-content a:hover {background: rgba(145,156,157, 0.4);}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс в .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {display:block;}
.nshow {display: none;}




/*SLIDER*/
.slider{
  height: 350px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 350px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
    width: 25%;
  	transition: 2s ease-in-out;
    display: flex;
    justify-content: space-between;
	padding: 2em 6em;
}

.slide img{
  width: auto;
    height: 100%;
}
.slide .text{
  width: 50%;
  height: 100%;
	white-space: normal;
}

.text h1{
	margin: 0.5em 0 1em;
}
.text a{
	font-size: 15pt;
}

/*css for manual slide navigation*/

.navigation-manual{
  position:absolute;
    display: flex;
    justify-content: center;
    z-index: 100;
	align-self: flex-end;
	width: 10%;
	margin-left: 45%;
	margin-bottom: 0.5em;
}

.manual-btn{
  border: 2px solid rgba(145,156,157, 1);
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: rgba(145,156,157, 1);
}


#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}


/*css for automatic navigation*/

.navigation-auto{
    position:absolute;
    display: flex;
    justify-content: center;
    z-index: 100;
	align-self: flex-end;
	width: 10%;
	margin-left: 45%;
	margin-bottom: 0.5em;
}

.navigation-auto div{
  border: 2px solid rgba(145,156,157, 1);
  padding: 2px;
  border-radius: 50%;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: rgba(145,156,157, 1);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: rgba(145,156,157, 1);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: rgba(145,156,157, 1);
}


.container{
	width: 70%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: rgba(36, 34, 30);
    padding: 2em 0 4em;
}
.footer-col{
   width: 25%;
   padding: 0 1em;
}
.footer-col h4{
	font-size: 18px;
	color: #fff;
	margin-bottom: 35px;
	font-weight: normal;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgba(145,156,157);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-decoration: none;
	color: rgba(145,156,157);
	display: block;
	transition: all 0.3s ease-out;
}
.footer-col ul li a:hover{
	color: #fff;
	padding-left: 5px;
}
.footer-col .social-links{
	display: flex;
	justify-content: space-around;
}
.footer-col .social-links a{
	height: 40px;
	width: 40px;
	background-color: rgba(145,156,157, 0.5);
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #fff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: rgba(36, 34, 30);
	background-color: #fff;
}

footer p{
	color: rgba(145,156,157);
	text-align: center;
	margin-top: 2em;
}
